/*
The stylesheet for Ryan Dennis' portfolio website.
Created by Ryan Dennis.
*/

body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

body a {
  text-decoration: none;
}

.header {
  background-color: #d9d9d9;
  font-family: Verdana;
  padding: 15px;
  text-align: center;
}

.header-logo {
  padding: 4px;
}

.logo {
  color: #595959;
  font-size: 36px;
  font-weight: 700;
}

.header a:hover {
  color: #333333;
  transition-duration: 1.5s;
}

.header-links {
  padding: 4px;
}

.header-link {
  color: #595959;
  font-weight: 500;
  padding: 4px 8px;
}

.content {
  margin: auto;
  text-align: center;
  width: 50%;
}

.content-text {
  color: #595959;
  font-family: Verdana;
  font-size: 20px;
}
